/* google css font */
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

  /* shared style */

  *{
    font-family: 'Work Sans', sans-serif;
  }

  /* header styles */
  header { 
    background:rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav-title{font-size: 2.8rem;
  font-weight: 700;
  color: #131313;

}

nav > ul {
  display: flex;
  }



nav li { list-style: none;
          margin-right: 30px;
          font-weight: 500;
          font-size: 1rem;
}

nav li a  { text-decoration: none;
color: rgb(66, 66, 66);}

/* banner styles */

.banner-content{ 
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
} 

.banner-title{

  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}

.banner-description{
  

  color: #727272;
}

.banner img
{ margin-top: 20px;
  width: 100%}

.btn-primary{
  border-radius: 8px;
  color: #FFF;
  font-size: 1.25rem;
  background: #ff900E;
  padding: 20px 25px;
  color: #FFF;
  cursor: pointer;
  border: 0;
}

.banner{
  border:none ;
}


/* responsive media quary */
/* mobile diveces */

@media screen and ( max-width: 576px){

header{padding: 20px ;}
nav{ flex-direction: column;}
}

/* tablet drvice */

@media screen and (min-width:576px) and (max-width:960px) {
  header{ padding: 50px ;}
  nav{ flex-direction: column;
   }
  
}

/* main style */

main{
  max-width: 140px;
  margin: 0 auto;
}

/* teams style */
.teams-container{
  display: flex;
  align-items: center;
}

.teams-img-contaner{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.teams-content{
  padding-left: 70px;
  padding-right: 70px ;

}

.teams-title{
  font-size: 2.8rem;
}
.teams-title .quick-list{
  color: #727272;
  font-weight: 500;;

}
.teams-title .text-feauture{
 color: #FF900E ;
 font-weight: 700;
} 
.teams-title .of-our{
  font-weight: 700;
  color: #131313}